<div class="relative overflow-x-auto" #tableContainer>
  <table id="selection-table" class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-500 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="p-4">
          <div class="flex items-center">
            <input id="checkbox-all-search" type="checkbox"
              class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            <label for="checkbox-all-search" class="sr-only">checkbox</label>
          </div>
        </th>
        <th scope="col" class="px-4 py-4">
          <span [ngClass]="{
              'text-gray-900': sortedColumn === 'firstname'
            }" class="inline-flex items-center cursor-pointer" (click)="sortTable('firstname')">
            Usuario
            <svg class="relative w-4 h-4 ms-1"
              aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
              fill="none" viewBox="0 0 24 24">
              <!-- Flecha hacia arriba -->
              <path class="arrow" 
              [ngClass]="{
                'visible asc': sortedColumn === 'firstname' && sortOrder === 'asc',
                'hidden': sortedColumn === 'firstname' && sortOrder === 'desc'
              }" 
              stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 9 4-4 4 4" />
              <!-- Flecha hacia abajo -->
              <path class="arrow arrow-down transition-transform-opacity" 
              [ngClass]="{
                'visible desc': sortedColumn === 'firstname' && sortOrder === 'desc',
                'hidden': sortedColumn === 'firstname' && sortOrder === 'asc'
              }" 
              stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4" />
            </svg>
          </span>
        </th>
        <th scope="col" class="px-4 py-3">Rol</th>
        <th scope="col" class="px-4 py-3">
          <span [ngClass]="{
              'text-gray-900': sortedColumn === 'email'
            }" class="flex items-center cursor-pointer" (click)="sortTable('email')">
            Correo
            <svg class="relative w-4 h-4 ms-1"
              aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
              fill="none" viewBox="0 0 24 24">
              <!-- Flecha hacia arriba -->
              <path class="arrow" 
              [ngClass]="{
                'visible asc': sortedColumn === 'email' && sortOrder === 'asc',
                'hidden': sortedColumn === 'email' && sortOrder === 'desc'
              }" 
              stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 9 4-4 4 4" />
              <!-- Flecha hacia abajo -->
              <path class="arrow arrow-down transition-transform-opacity" 
              [ngClass]="{
                'visible desc': sortedColumn === 'email' && sortOrder === 'desc',
                'hidden': sortedColumn === 'email' && sortOrder === 'asc'
              }" 
              stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4" />
            </svg>
          </span>
        </th>
        <th scope="col" class="px-4 py-3">Estado</th>
        <th scope="col" class="px-4 py-3">
          <span [ngClass]="{
            'text-gray-900': sortedColumn === 'created_at'
          }" class="flex items-center cursor-pointer" (click)="sortTable('created_at')">
            Fecha de Registro
            <svg class="relative w-4 h-4 ms-1"
              aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
              fill="none" viewBox="0 0 24 24">
              <!-- Flecha hacia arriba -->
              <path class="arrow" 
              [ngClass]="{
                'visible asc': sortedColumn === 'created_at' && sortOrder === 'asc',
                'hidden': sortedColumn === 'created_at' && sortOrder === 'desc'
              }" 
              stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 9 4-4 4 4" />
              <!-- Flecha hacia abajo -->
              <path class="arrow arrow-down transition-transform-opacity" 
              [ngClass]="{
                'visible desc': sortedColumn === 'created_at' && sortOrder === 'desc',
                'hidden': sortedColumn === 'created_at' && sortOrder === 'asc'
              }" 
              stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 15 4 4 4-4" />
            </svg>
          </span>
        </th>
        <th scope="col" class="px-4 py-3">
          <span class="sr-only">Actions</span>
        </th>
      </tr>
    </thead>
    <tbody>
      @if (users && users.length > 0) {
        @for (user of users; track user.id) {
        <tr class="border-b dark:border-gray-700 hover:bg-gray-50">
          <td class="w-4 p-4">
            <div class="flex items-center">
              <input id="checkbox-table-search-1" type="checkbox"
                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
              <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
            </div>
          </td>
          <th scope="row" class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            {{user.firstname}} {{user.lastname}}
          </th>
          <td class="px-4 py-3">
            @switch (user.role) {
              @case ('customer') { Cliente }
              @case ('seller') { Vendedor }
              @case ('admin') { Administrador }
              @default { No Definido }
            }
          </td>
          <td class="px-4 py-3 max-w-[12rem] truncate">
            {{user.email}}
          </td>
          <td class="px-4 py-3">
            <span class="text-xs font-medium me-2 px-2.5 py-0.5 rounded" [ngClass]="{
              'bg-green-100 text-green-800 dark:bg-green-900 dark:text-green-300': user.is_active,
              'bg-red-100 text-red-800 dark:bg-red-900 dark:text-red-300': !user.is_active
            }">
              @if (user.is_active) {
              Habilitado
              } @else {
              Inhabilitado
              }
            </span>
          </td>
          <td class="px-4 py-3">{{user.created_at}}</td>
          <td class="px-4 py-3 flex items-center justify-end">
            <app-dropdown [id]="user.id!"/>
          </td>
        </tr>
        }
      } @else {
        <tr>
          <td colspan="7" class="text-center py-4 text-gray-500 dark:text-gray-400">
            No hay datos disponibles para mostrar.
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
<!--Paginacion-->
<nav class="flex flex-col md:flex-row justify-between items-start md:items-center space-y-3 md:space-y-0 p-4"
  aria-label="Table navigation">
  <span class="text-sm font-normal text-gray-500 dark:text-gray-400">
    Mostrando del
    <span class="font-semibold text-gray-900 dark:text-white">
      {{ (currentPage - 1) * pageSize + 1 }}
    </span>
    al
    <span class="font-semibold text-gray-900 dark:text-white">
      {{ getDisplayedRangeEnd() }}
    </span>
    de
    <span class="font-semibold text-gray-900 dark:text-white">
      {{ totalItems }}
    </span>
    usuarios.
  </span>
  <ul class="inline-flex items-stretch -space-x-px">
    <li>
      <button type="button" (click)="onPageChange(currentPage - 1)" [class.cursor-not-allowed]="isPreviousDisabled()"
        [ngClass]="{
          'cursor-not-allowed': isPreviousDisabled(), 
          'hover:bg-gray-100 hover:text-gray-700 dark:hover:bg-gray-700 dark:hover:text-white': !isPreviousDisabled(), 
        }"
        class="flex items-center justify-center h-full py-1.5 px-3 ml-0 text-gray-500 bg-white rounded-l-lg border border-gray-300  dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 "
        [disabled]="isPreviousDisabled()">
        <span class="sr-only">Atras</span>
        <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
            clip-rule="evenodd" />
        </svg>
      </button>
    </li>
    @for (page of getVisiblePages(); track page) {
    <li>
      <a (click)="onPageChange(page)" [ngClass]="{
          'select-none flex items-center justify-center text-sm py-2 px-3 leading-tight border dark:border-gray-700': true,
          'text-gray-500 bg-white dark:bg-gray-800 dark:text-gray-400': page === '...',
          'hover:bg-gray-100 hover:text-gray-700 dark:hover:bg-gray-700 dark:hover:text-white': page !== currentPage && page !== '...',
          'z-10 text-primary-600 bg-primary-50 border-primary-300 hover:bg-primary-100 hover:text-primary-700 dark:bg-gray-700 dark:text-white': page === currentPage
        }">
        {{ page }}
      </a>
    </li>
    }
    <li>
      <button type="button" (click)="onPageChange(currentPage + 1)" [class.cursor-not-allowed]="isNextDisabled()"
        [ngClass]="{
          'cursor-not-allowed': isNextDisabled(), 
          'hover:bg-gray-100 hover:text-gray-700 dark:hover:bg-gray-700 dark:hover:text-white': !isNextDisabled(), 
        }" [disabled]="isNextDisabled()"
        class="flex items-center justify-center h-full py-1.5 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400">
        <span class="sr-only">Siguiente</span>
        <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
            clip-rule="evenodd" />
        </svg>
      </button>
    </li>
  </ul>
</nav>